{
    "extends": [
        "eslint-config-zoro/eslint",
        "eslint-config-zoro/typescript",
        "eslint-config-zoro/node"
    ],
    "env": {
        "node": true,
        "jest": true
    },
    "parserOptions": {
        "project": "./tsconfig.eslint.json"
    },
    "rules": {
        "@typescript-eslint/naming-convention": [
            "error",
            {
                "selector": "variable",
                "format": [
                    "camelCase",
                    "PascalCase",
                    "snake_case",
                    "UPPER_CASE"
                ],
                "leadingUnderscore": "allow",
                "trailingUnderscore": "forbid"
            }
        ]
    }
}
