{
    "extends": [
        "eslint-config-zoro/eslint",
        "eslint-config-zoro/typescript"
    ],
    "env": {
        "jest": true
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "no-extra-parens": "off",
        "@typescript-eslint/no-extra-parens": "off"
    }
}
