# Node files
node_modules
package-lock.json

# Editor files
.vscode/**

# Configuration files
.editorconfig
.gitignore
.huskyrc
jest.config.js
tsconfig.json
tslint.json
webpack.config.prod.js

# Project specific stuff
__tests__/**
.github/**
docs/**
src/**
yarn.lock
