# Node files
node_modules/**
yarn.lock

# Editor files
.vscode/**

# Configuration files
.eslintignore
.eslintrc
.gitignore
.huskyrc
.lintstagedrc
tsconfig.eslint.json
tsconfig.json

# Project specific stuff
.github/**
docs/**
scripts/**
src/**
tests/**
